.cart-details-page-container {
  padding-top: 100px;
  margin-inline: 7vw;
  height: 100vh;
}

.cart-details-page {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  /* gap: 5rem; */
}

.cart-details-page-departments {
  display: flex;
  flex-direction: column;
  width: 40vw;
  gap: 20px;
}

@media (max-width: 800px) {
  .cart-details-page {
    flex-direction: column;
    gap: 3rem;
  }
  .cart-details-page-departments {
    width: 80vw;
  }
}
