.cart-details-page-container {
    margin-top:100px;
    margin-inline: 7vw;
}

.cart-details-page-departments {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 10px;
}