.search-area-container {
    margin-inline: 100px;
    margin-top:100px;
    display: block;
}

.main-search {
    font-family: "Noto Serif Display", serif;
    font-size: 2.2rem;
    font-weight: 500;
}
.main-search .search-wrap {
    position: relative;
    height: 3.0rem;
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.main-search-bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border: 1.5px solid rgb(143, 143, 143);
    font-size: 1.2rem;
    padding: 15px;
    letter-spacing: 0.1rem;
    font-weight: thin 100;
    font-family: "Barlow Semi Condensed", sans-serif;
    border-radius: 5px;
}

.search-wrap button {
    position: absolute;
    width: 70px;
    height: 100%;
    top: 0;
    right: 0;
    padding-top: auto;
    padding-bottom: auto;
    padding-inline: 20px;
    background-color: white;
    border: 1.5px solid rgb(143, 143, 143);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.main-search-bar:hover, .search-wrap button:hover {
    border: 1.5px solid black;
}

.filter-field > .filter-by-button {
    width: 100%;
    margin-top:20px;
    margin-bottom:10px;
}

.filter-by-button > button {
    width: 100%;
    font-family: "Barlow Semi Condensed", sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 0;
    background-color: white;
    cursor: pointer;
}

.filter-by-button > button:hover {
    text-decoration: underline;
}
.filter-bar-container {
    display: flex;
    justify-content: flex-start;
    gap: 25px;
}

.show-only-container {
    position: relative;
    display: flex;
    justify-content: flex-start;
    gap: 25px;
}
.show-only {
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(179, 179, 179);
    margin-bottom: 20px;
}

.selected-filter-list {
    display: flex;
    gap: 10px;
    justify-content: flex-start;
}
