/* .artwork-display-container {
    display: grid;
    /* margin-right: 100px; */
    /* width: 100%; */
    /* grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
} */ 

.artwork-display-container {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 2vw;
    row-gap: 30px;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 40px;
}

/* @media screen and (max-width:1250px) {
    .artwork-display-container {
        grid-template-columns: 1fr 1fr 1fr;
    }
} */