.cart-item {
    display:flex;
    justify-content: flex-start;
    gap: 20px;
    width: 90%;
    padding: 20px;
    margin: 20px;
    margin-inline: auto;
    box-shadow: 0 0 10px gray;
    color: rgb(77, 77, 77);
}
.cart-item-image-container {
    height:100%;
    width: 40%;
    display: flex;
    justify-content: center;
    background-color: #b60723;
}
.cart-item-image {
    height:100%;
    width: 100%;
    object-fit: contain;
}
.cart-item-description-container {
    width: 60%;
}

.cart-item-description-title {
    font-size: 1.1rem;
    font-weight: 500;
    line-height: 2rem;
}

.cart-item-description-artist {
    font-size: 0.8rem;
    line-height: 1.5rem;
    color: rgb(187, 187, 187);
}

.cart-item-description-container > a{
    color: #E4022B;
    /* padding: 10px; */
    border: 0;
    transition: all ease 0.2s;
    /* margin-left: auto; */
}

.cart-item-description-container > a:hover{
    color: #86021b;
}
.cart-item-description-title > a:hover {
    text-decoration: underline;
}