/* .cart-page {
    position: fixed;
    z-index: 3;
    width: 100%;
    height: 100%;
    background-color: rgba(96, 96, 96, 0.5);
} */
.cart-container {
    position: fixed;
    z-index: 3;
    top: 0;
    right: 0;
    height: 100%;
    width:500px;
    /* background-color: #e3042c; */
    border: 2px solid #b60723;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    padding-top: 80px;
    display: none;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    overflow-x: hidden;
    color:whitesmoke;
}

.cart-items-container {
    width: 500px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    gap:30px;
    margin-top:30px;
    margin-bottom: 15vh;
}

.cart-header {
    position: fixed;
    width: 500px;
    top: 0;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #b60723;
    transition: all ease 0.3s;
    box-shadow: 0 1vh 10px rgba(114, 24, 24, 0.596);
} 


.cart-header > a:hover {
    color: rgb(172, 172, 172);
}

.cart-footer > a {
    background-color: #e3042c;
    padding: 1rem;
    padding-inline: 5rem;
    border-radius: 30px;
    letter-spacing: 0.3rem;
    text-decoration: none;
    color: inherit;
    transition: all ease 0.2s;
}
.cart-footer > a:hover {
    background-color: #d60f33;
    text-decoration: underline;
}

.cart-footer {
    position: fixed;
    bottom: 0;
    width: 500px;
    padding-top:3vh;
    padding-bottom:3vh;
    background-color: #b60723;
    display: flex;
    place-content: center;
    box-shadow: 0 -1vh 10px rgba(114, 24, 24, 0.596);
}

