/* header {
    position: relative;
} */
.nav-container {
    background-color: #E4022B;
    color:white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    padding-top: 20px;
    padding-bottom: 20px;
    position: fixed;
    top: 0;
    z-index:2;
    padding-inline: 7vw;
}
.title {
    font-family: "Noto Serif Display", serif;
    font-size: 1.5rem;
    line-height: 1.2rem;
    letter-spacing: -0.17rem;
}
.right-nav-container {
    display: flex;
    justify-content: space-between;
    font-family: "Jost", sans-serif;
    font-weight: 500;
    line-height: 0.9rem;
}

.right-nav-container a {
    margin-left: 2vw;
    color: inherit;
    text-decoration: inherit;
}

.right-nav-container a:hover {
    text-decoration: underline;
}